<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>App Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item color="blue">
    <ion-avatar slot="start">
      <ion-icon class="user" size="large" color="orange" name="person"></ion-icon>
    </ion-avatar>
    <ion-label>
      <ion-text color="light">
        <h2>
          <strong>John Doe</strong>
        </h2>
      </ion-text>
      <ion-text color="orange">
        <h3>
          j.doe@gmail.com
        </h3>
      </ion-text>
      <ion-button icon-left size="small" shape="round" color="orange" (click)="editProfile()">
        <ion-icon name="contact"></ion-icon>
        Edit profile
      </ion-button>
      <ion-button icon-left size="small" shape="round" color="orange" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        logout
      </ion-button>
    </ion-label>
  </ion-item>

  <ion-list no-border>
    <ion-list-header>
      <ion-text color="orange">
        <h5>General</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="settings" slot="start" color="orange"></ion-icon>
      <ion-label color="orange">App Language</ion-label>
      <ion-select [(ngModel)]="lang">
        <ion-select-option *ngFor="let language of languages" [value]="language">{{language}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="notifications" slot="start" color="orange"></ion-icon>
      <ion-label class="label" color="orange"> Enable notifications </ion-label>
      <ion-toggle color="orange" [(ngModel)]="enableNotifications"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="orange">
        <h5>Currency</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="card" slot="start" color="orange"></ion-icon>
      <ion-label color="orange">Payment Method</ion-label>
      <ion-select [(ngModel)]="paymentMethod">
        <ion-select-option *ngFor="let method of paymentMethods" [value]="method">{{method}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-usd" slot="start" color="orange"></ion-icon>
      <ion-label color="orange">Currency</ion-label>
      <ion-select [(ngModel)]="currency">
        <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="orange">
        <h5>Other</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="mail" slot="start" color="orange"></ion-icon>
      <ion-label class="label" color="orange">Enable Promotions</ion-label>
      <ion-toggle color="orange" [(ngModel)]="enablePromo"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start" color="orange"></ion-icon>
      <ion-label class="label" color="orange">Enable History</ion-label>
      <ion-toggle color="orange" [(ngModel)]="enableHistory"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
