<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button color="orange"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">ABOUT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="blue">

   <!-- Logo -->
   <div padding-horizontal text-center class="animated fadeInDown">
    <div class="logo"></div>
    <h4 no-margin></h4>
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-title size="2em" color="orange"><strong>HBS Survey Respondant</strong></ion-title>
      </h1>
      <br>
      <p margin-bottom>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione
        quisquam, fugit omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia,
        dolore?
      </p>
      
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione
        quisquam, fugit omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia,
        dolore?
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>


<ion-footer >
  <ion-toolbar color="blue">
    <ion-title color="light">HBS Survey</ion-title>
  </ion-toolbar>
</ion-footer>