:host {
  ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }
  ion-icon {
    font-size: 5em;
  }
  
}
 ion-icon.test{
   font-size: 2em !important;
 }
